.gmail-cont{
  height: 40px;
  padding: 0.5em;
  position: absolute;
  right: 5%;
  border-radius: 25%;
}

.git-cont{
  height: 40px;
  padding: 0.5em;
  position: absolute;
  right: 0.5%;
  border-radius: 25%;
}

.main-body{
  background-color: black;;
}

.main-heading{
  color: beige;
  text-align: center;
}

.main-image{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  margin-left: 3%;
  margin-top: -3.5%;
}
